 * {
 box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #1F1216;
  font-size: 18px;
  font-family: proxima-nova,
  sans-serif;
  margin: 40px;
}

button {
  width: 183px;
  height: 50px;
  background-color: #c4c4c4;
  color: #f6f6f6;
  font-size: 18px;
  border-radius: 2px;
  cursor: pointer;
}

input { 
  border-top-style: hidden !important;
  border-right: hidden !important;
  border-left: hidden !important;
  width: 439px;
}

input::placeholder {
  color: #F25187BF !important;
  font-size: 18px;
}

.css-1wa3eu0-placeholder {
  color: #F25187BF !important;
  font-size: 18px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid green; */
  -webkit-text-fill-color: #F25187BF;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
  font-size: 18px;
}

.css-1thl2mp-control {
  width: 439px !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: flex-end;
}

.input-field-wrapper {
  display: flex;
  justify-content: end;
}
